.mainSearchBar_container {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./MainSearchBar.jpg");
  }

.MainSearchBar_search {
    width: 30%;
    padding: 12px 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

