.Heading_container{
    height: 40px;
    display: flex;
    padding-top: 26px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .Heading_text, .Heading_text_active {
    color: #4d4d4d;
    padding: 0 16px;
    text-decoration: none;
    font-size: 16px;
  
  }
  .Heading_text_active {
    font-weight: bold;
  }
  
  .Heading_active {
    width: 40%;
    height: 1px;
    border-bottom: 2px solid #ff944d;
  }

  .Heading_large_text {
    font-size: 22px;
  }