.footer_upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 2.5%;
}

footer_upper_section {
  display: flex;
  align-items: center;
  background: dodgerblue;

}

.footer_link {
  color: #8a8989;
  padding-right: 15px;
  text-decoration: none;
  font-size: 16px;
}

.footer_image {
  vertical-align: middle;
  height: 35px;
  padding-left: 15px;
}

.footer_lower_container {
  border-top: 1px solid #c9c7c7;
  width: 95%;
  color: #4d4d4d;
  padding: 15px 2.5%;
  font-size: 0.8em;
}
