.StarsRating_filled {
    background-color: red;
    mask-image: url('./star.svg');
    mask-repeat: no-repeat;
    width: 40px;
}

.StarsRating_empty{
    background-image: url('./star.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    width: 40px;
}

.StartsRating_container {
    width: 200px;
    height: 40px;
    display: flex;
}

/* Pattern styles
.container {
    display: flex;
  }
  
  .left-half {
    background-color: #ff9e2c;
    flex: 1;
    padding: 1rem;
  }
  
  .right-half {
    background-color: #b6701e;
    flex: 1;
    padding: 1rem;
  } */