.AriesButton_button {
  background-color: #ff944d;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.AriesButton_roundLeft {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}
.AriesButton_roundRight {
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
}

.AriesButton_large {
    padding: 25px 32px;
}
