.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  border-bottom: 1px solid #c9c7c7;
  height: 65px;
}

.header_section {
  display: flex;
  align-items: center;
}
.header_image {
  height: 30px;
}
